%html
  %head
  /[if lt IE 7 ] <body class="ie6">
  /[if IE 7 ] <body class="ie7>">
  /[if IE 8 ] <body class="ie8">
  /[if IE 9 ] <body class="ie9">
  / [if (gt IE 9)|!(IE)]><!
  %body
    / <![endif]
    %header.navigation{:role => "banner"}
      .navigation-wrapper
        %a.logo{:href => "/"}
          logo
        %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} Menu
        %nav{:role => "navigation"}
          %ul#js-navigation-menu.navigation-menu.show
            %li.nav-link
              %a{:href => "javascript:void(0)"} Menu
            %li.nav-link
              %a{:href => "javascript:void(0)"} Store Locator
            %li.nav-link
              %a{:href => "javascript:void(0)"} Franchising
            %li.nav-link
              %a{:href => "javascript:void(0)"} About us
      .navigation-wrapper
        %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} Menu
        %nav.nav-right{:role => "navigation"}
          %ul#js-navigation-menu.navigation-menu.show
            %li.nav-link
              %a{:href => "javascript:void(0)"} Cart
            %li.nav-link
              %a{:href => "javascript:void(0)"} Checkout
            %li.nav-link
              %a{:href => "javascript:void(0)"} My Account
            %li.nav-link
              %a{:href => "javascript:void(0)"} 1
    %section#hero.homepage-hero
      %a{:href => ""}
        %img{:alt => "Elvis", :src => "https://d2mekbzx20fc11.cloudfront.net/uploads/Elvis.jpg"}/
    %section.crust_gourmet_menu
      .affix_menu
        .navigation-wrapper
          %nav{:role => "navigation"}
            %ul#js-navigation-menu.navigation-menu.show
              %li.nav-link
                %a{:href => "javascript:void(0)"} All pizzas
              %li.nav-link
                %a{:href => "javascript:void(0)"} Upper Crust Pizzas
              %li.nav-link
                %a{:href => "javascript:void(0)"} Street Food Pizzas
              %li.nav-link
                %a{:href => "javascript:void(0)"} Chicken Pizzas
              %li.nav-link
                %a{:href => "javascript:void(0)"} Meat Pizzas
              %li.nav-link
                %a{:href => "javascript:void(0)"} Seafood Pizzas
              %li.nav-link
                %a{:href => "javascript:void(0)"} Vegetarian Pizzas
              %li.nav-link
                %a{:href => "javascript:void(0)"} Healthier Choice Pizzas
              %li.nav-link
                %a{:href => "javascript:void(0)"} Traditional Pizzas
              %li.nav-link
                %a{:href => "javascript:void(0)"} Crust Kids Menu
        .navigation-wrapper
          %nav.nav-right{:role => "navigation"}
            %ul#js-navigation-menu.navigation-menu.show
              %li.nav-link
                %a{:href => "javascript:void(0)"} Half/Half
              %li.nav-link
                %a{:href => "javascript:void(0)"} Build Your Own Pizza
      .crust_gourmet_menu_items
        .crust_menu_items
          %a{"data-show-product-id" => ""}
            %img{:alt => "Truffle Beef Rossini Upper Crust Pizzas", :src => "https://d2mekbzx20fc11.cloudfront.net/uploads/Truffle500x333.png", :title => "Truffle Beef Rossini Upper Crust Pizzas"}/
          .info
            %span
              %a.more.product-customise-modal-toggle{"data-customise-product-path" => "/products/54ffd30dcbdd6b000b000051/customise_modal", "data-ingredients-path" => "/products/54ffd30dcbdd6b000b000051/ingredients", "data-show-product-id" => "54ffd30dcbdd6b000b000051"} customise
            %a
              %h3 Truffle Beef Rossini
            %h4
              %span $24.00
              %span (9420kJ)
            %select#size.selectpicker.crust-bootstrap-select.product_size_selection{:name => "size"}
              %option{:selected => "selected", :value => "4d522df4b386272a08000731"} 15&quot; x 9&quot;
            %button.btn.btn-primary.pull-right.order.btn-product-add{"data-dismiss" => "modal", "data-half-half-id" => "", "data-product-allow-customise" => "true", "data-product-class" => "pizza", "data-product-id" => "54ffd30dcbdd6b000b000051"} Add to cart
            %p
            %span Wagyu Beef, Wild Mushrooms, Caramelised Onions on a Béchamel base garnished with Fresh Parsley &amp; Basil, topped with Authentic Buffalo Mozzarella &amp; Black Truffle Aioli. (G, M, SOY, Fish)
        .crust_menu_items
          %a{"data-show-product-id" => ""}
            %img{:alt => "Truffle Beef Rossini Upper Crust Pizzas", :src => "https://d2mekbzx20fc11.cloudfront.net/uploads/Truffle500x333.png", :title => "Truffle Beef Rossini Upper Crust Pizzas"}/
          .info
            %span
              %a.more.product-customise-modal-toggle{"data-customise-product-path" => "/products/54ffd30dcbdd6b000b000051/customise_modal", "data-ingredients-path" => "/products/54ffd30dcbdd6b000b000051/ingredients", "data-show-product-id" => "54ffd30dcbdd6b000b000051"} customise
            %a
              %h3 Truffle Beef Rossini
            %h4
              %span $24.00
              %span (9420kJ)
            %select#size.selectpicker.crust-bootstrap-select.product_size_selection{:name => "size"}
              %option{:selected => "selected", :value => "4d522df4b386272a08000731"} 15&quot; x 9&quot;
            %button.btn.btn-primary.pull-right.order.btn-product-add{"data-dismiss" => "modal", "data-half-half-id" => "", "data-product-allow-customise" => "true", "data-product-class" => "pizza", "data-product-id" => "54ffd30dcbdd6b000b000051"} Add to cart
            %p
            %span Wagyu Beef, Wild Mushrooms, Caramelised Onions on a Béchamel base garnished with Fresh Parsley &amp; Basil, topped with Authentic Buffalo Mozzarella &amp; Black Truffle Aioli. (G, M, SOY, Fish)
        .crust_menu_items
          %a{"data-show-product-id" => ""}
            %img{:alt => "Truffle Beef Rossini Upper Crust Pizzas", :src => "https://d2mekbzx20fc11.cloudfront.net/uploads/Truffle500x333.png", :title => "Truffle Beef Rossini Upper Crust Pizzas"}/
          .info
            %span
              %a.more.product-customise-modal-toggle{"data-customise-product-path" => "/products/54ffd30dcbdd6b000b000051/customise_modal", "data-ingredients-path" => "/products/54ffd30dcbdd6b000b000051/ingredients", "data-show-product-id" => "54ffd30dcbdd6b000b000051"} customise
            %a
              %h3 Truffle Beef Rossini
            %h4
              %span $24.00
              %span (9420kJ)
            %select#size.selectpicker.crust-bootstrap-select.product_size_selection{:name => "size"}
              %option{:selected => "selected", :value => "4d522df4b386272a08000731"} 15&quot; x 9&quot;
            %button.btn.btn-primary.pull-right.order.btn-product-add{"data-dismiss" => "modal", "data-half-half-id" => "", "data-product-allow-customise" => "true", "data-product-class" => "pizza", "data-product-id" => "54ffd30dcbdd6b000b000051"} Add to cart
            %p
            %span Wagyu Beef, Wild Mushrooms, Caramelised Onions on a Béchamel base garnished with Fresh Parsley &amp; Basil, topped with Authentic Buffalo Mozzarella &amp; Black Truffle Aioli. (G, M, SOY, Fish)
        .crust_menu_items
          %a{"data-show-product-id" => ""}
            %img{:alt => "Truffle Beef Rossini Upper Crust Pizzas", :src => "https://d2mekbzx20fc11.cloudfront.net/uploads/Truffle500x333.png", :title => "Truffle Beef Rossini Upper Crust Pizzas"}/
          .info
            %span
              %a.more.product-customise-modal-toggle{"data-customise-product-path" => "/products/54ffd30dcbdd6b000b000051/customise_modal", "data-ingredients-path" => "/products/54ffd30dcbdd6b000b000051/ingredients", "data-show-product-id" => "54ffd30dcbdd6b000b000051"} customise
            %a
              %h3 Truffle Beef Rossini
            %h4
              %span $24.00
              %span (9420kJ)
            %select#size.selectpicker.crust-bootstrap-select.product_size_selection{:name => "size"}
              %option{:selected => "selected", :value => "4d522df4b386272a08000731"} 15&quot; x 9&quot;
            %button.btn.btn-primary.pull-right.order.btn-product-add{"data-dismiss" => "modal", "data-half-half-id" => "", "data-product-allow-customise" => "true", "data-product-class" => "pizza", "data-product-id" => "54ffd30dcbdd6b000b000051"} Add to cart
            %p
            %span Wagyu Beef, Wild Mushrooms, Caramelised Onions on a Béchamel base garnished with Fresh Parsley &amp; Basil, topped with Authentic Buffalo Mozzarella &amp; Black Truffle Aioli. (G, M, SOY, Fish)
        .crust_menu_items
          %a{"data-show-product-id" => ""}
            %img{:alt => "Truffle Beef Rossini Upper Crust Pizzas", :src => "https://d2mekbzx20fc11.cloudfront.net/uploads/Truffle500x333.png", :title => "Truffle Beef Rossini Upper Crust Pizzas"}/
          .info
            %span
              %a.more.product-customise-modal-toggle{"data-customise-product-path" => "/products/54ffd30dcbdd6b000b000051/customise_modal", "data-ingredients-path" => "/products/54ffd30dcbdd6b000b000051/ingredients", "data-show-product-id" => "54ffd30dcbdd6b000b000051"} customise
            %a
              %h3 Truffle Beef Rossini
            %h4
              %span $24.00
              %span (9420kJ)
            %select#size.selectpicker.crust-bootstrap-select.product_size_selection{:name => "size"}
              %option{:selected => "selected", :value => "4d522df4b386272a08000731"} 15&quot; x 9&quot;
            %button.btn.btn-primary.pull-right.order.btn-product-add{"data-dismiss" => "modal", "data-half-half-id" => "", "data-product-allow-customise" => "true", "data-product-class" => "pizza", "data-product-id" => "54ffd30dcbdd6b000b000051"} Add to cart
            %p
            %span Wagyu Beef, Wild Mushrooms, Caramelised Onions on a Béchamel base garnished with Fresh Parsley &amp; Basil, topped with Authentic Buffalo Mozzarella &amp; Black Truffle Aioli. (G, M, SOY, Fish)
        .crust_menu_items
          %a{"data-show-product-id" => ""}
            %img{:alt => "Truffle Beef Rossini Upper Crust Pizzas", :src => "https://d2mekbzx20fc11.cloudfront.net/uploads/Truffle500x333.png", :title => "Truffle Beef Rossini Upper Crust Pizzas"}/
          .info
            %span
              %a.more.product-customise-modal-toggle{"data-customise-product-path" => "/products/54ffd30dcbdd6b000b000051/customise_modal", "data-ingredients-path" => "/products/54ffd30dcbdd6b000b000051/ingredients", "data-show-product-id" => "54ffd30dcbdd6b000b000051"} customise
            %a
              %h3 Truffle Beef Rossini
            %h4
              %span $24.00
              %span (9420kJ)
            %select#size.selectpicker.crust-bootstrap-select.product_size_selection{:name => "size"}
              %option{:selected => "selected", :value => "4d522df4b386272a08000731"} 15&quot; x 9&quot;
            %button.btn.btn-primary.pull-right.order.btn-product-add{"data-dismiss" => "modal", "data-half-half-id" => "", "data-product-allow-customise" => "true", "data-product-class" => "pizza", "data-product-id" => "54ffd30dcbdd6b000b000051"} Add to cart
            %p
            %span Wagyu Beef, Wild Mushrooms, Caramelised Onions on a Béchamel base garnished with Fresh Parsley &amp; Basil, topped with Authentic Buffalo Mozzarella &amp; Black Truffle Aioli. (G, M, SOY, Fish)
      %h4
        %br
          The average adult daily energy intake is 8700kJ
    %footer.footer
      .footer-menu
        %ul.list-unstyled
          %ul.list-unstyled
            %li
              %a{:href => "/"} Menu
            %li
              %a{:href => ""} Catering
            %li
              %a{:href => "/stores"} Store Locator
            %li
              %a{:href => "http://franchising.crust.com.au/", :target => "window"} Franchising
            %li
              %a{:href => "/aboutus"} About Us
      .footer-menu
        %ul.list-unstyled
          %li
            %a{:href => "/users/edit"} VIPP
          %li
            %a{:href => "/aboutus/faq"} FAQ
          %li
            %a{:href => "/aboutus/contact"} Contact Us
          %li
            %a{:href => "/privacypolicy"} Privacy
          %li.divider
      .footer-menu
        %ul.list-unstyled
          %li
            %a{:href => "#", :onclick => "window.open('https://d2mekbzx20fc11.cloudfront.net/uploads/Downloadable_Menu_2015_Final.pdf');", :title => "Download a menu"} Download Menu
          %li
            %a{:href => "#", :onclick => "window.open('https://d2mekbzx20fc11.cloudfront.net/uploads/Online_Menus_2015_Public_Holiday_Final.pdf')", :title => "Public Holiday Pricing"} Public Holiday Menu
          %li
            %a{:href => "#", :onclick => "window.open('https://d2mekbzx20fc11.cloudfront.net/uploads/CRU1535_Catering_Form_Generic_Online.pdf');", :title => "Download Catering Form"} Catering Order Form
          %li
            %a{:href => "#", :onclick => "window.open('https://d2mekbzx20fc11.cloudfront.net/uploads/Crust_Ingredients_List_28-4-2015.pdf')"} Ingredients Info
      .footer-menu
        %ul.list-unstyled
          %li
            %a{:href => "http://www.facebook.com/pages/Crust-Gourmet-Pizza-Bar/27584581062?ref=ts'", :target => "window"}
              %i.icon-facebook-sign.icon-light
          %li
            %a{:href => "http://twitter.com/crust_pizza", :target => "window"}
              %i.icon-twitter-sign.icon-light
          %li
            %a{:href => "http://itunes.apple.com/us/app/crust-gourmet-pizza-bar/id479097479", :target => "window"}
              %i.icon-apple.icon-light
          %li
            %a{:href => "https://play.google.com/store/apps/details?id=au.com.crust.mobile", :target => "window"}
              %i.icon-android.icon-light