// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nav-menu-class {
  @include outer-container;

/*Mobile view*/
  .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    padding-top: 0.5em;

    @include media ($large-screen) {
      display: none;
    }
  }

/*Nav menu*/
  .navigation-wrapper {
    @include clearfix;
    @include span-columns(6);
    position: relative;
  }

  .logo {
    float: left;

    img {
      max-height: 2em;
      padding-right: 1em;
    }
  }

  nav {
    float: none;

    @include media ($large-screen) {
      float: left;
      line-height: 1.5em;
      padding-top: 0.3em;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;

    @include media ($large-screen) {
      display: block;
      margin: 0;
      padding: 0;
    }

    &.show {
      display: block;
    }
  }

  .nav-right {
    float: right;
  }
/*Nav items*/
  ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;

    @include media ($large-screen) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
    }
  }

  li.nav-link a {
    display: inline-block;

    @include media ($large-screen) {
      padding-right: 1em;
    }
  }
}

/* header nav menu */
.navigation {
  $large-screen: em(860) !default;
  $large-screen: $large-screen;
  @extend .nav-menu-class;

}

/* hero section */
.homepage-hero {
  @include outer-container;

}

/* menu section */
.crust_gourmet_menu {
  @include outer-container;

  .affix_menu {
    @extend .nav-menu-class;
  }

  .crust_gourmet_menu_items {
    @include outer-container;
    display: block;
    @include display(flex);
    @include flex-wrap(wrap);

    .crust_menu_items{
      @include span-columns(4);
      @include omega;

      @include flex-basis(20em);
      @include flex-grow(0.5);
    }
  }
}

/* footer section */
.footer {
  @include outer-container;

  .footer-menu {
    @include span-columns(3);
    @include omega;
  }
}
















